In [85]:
import pandas as pd
import numpy as np
import json

In [86]:
dataBase = pd.read_csv("desafio1.csv")

In [87]:
dataBase.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [88]:
dataBase.describe()

,RowNumber,pontuacao_credito,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,3500.500000,649.787000,38.892714,5.010286,76471.883751,1.526000,0.703286,0.512143
std,2020.870275,97.046279,10.465562,2.887500,62403.383911,0.583047,0.456842,0.499888
min,1.000000,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1750.750000,582.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000
50%,3500.500000,651.000000,37.000000,5.000000,97277.130000,1.000000,1.000000,1.000000
75%,5250.250000,717.000000,44.000000,7.250000,127537.155000,2.000000,1.000000,1.000000
max,7000.000000,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000

In [89]:
SCMedia = dataBase[(dataBase['estado_residencia']=='SC')].pontuacao_credito.mean()
SCModa = dataBase[(dataBase['estado_residencia']=='SC')].pontuacao_credito.mode()[0]
SCMediana = dataBase[(dataBase['estado_residencia']=='SC')].pontuacao_credito.median()
SCDesvio = dataBase[(dataBase['estado_residencia']=='SC')].pontuacao_credito.std()

In [90]:
SCDesvio

97.233492793433

In [127]:
def estatistica(estado):
    media = dataBase[dataBase['estado_residencia'] == estado
                       ].pontuacao_credito.mean()
    moda = dataBase[dataBase['estado_residencia'] == estado
                      ].pontuacao_credito.mode()[0]
    mediana = dataBase[dataBase['estado_residencia'] == estado
                     ].pontuacao_credito.median()
    desvio = dataBase[dataBase['estado_residencia'] == estado
                        ].pontuacao_credito.std()
    estado = {'moda': float(moda), 'mediana': float(mediana), 'media': float(media), 'desvio_padrao': float(desvio)}
    return json.dumps(estado)

In [147]:
estados = {}

In [148]:
for i in dataBase['estado_residencia'].unique():
    estados[i] = estatistica(i)

In [158]:
txt = json.dumps(estados).replace('\\', '')

In [159]:
txt

'{"SC": "{"moda": 850.0, "mediana": 653.0, "media": 649.5376527422563, "desvio_padrao": 97.233492793433}", "RS": "{"moda": 850.0, "mediana": 650.0, "media": 651.1051428571428, "desvio_padrao": 95.13659841383574}", "PR": "{"moda": 850.0, "mediana": 650.0, "media": 648.9612940496822, "desvio_padrao": 98.60718591309758}"}'

In [160]:
def writeOutput(outPutDict):

    with open('submission.json', 'w') as json_file:
        print(txt)
        json_file.write(txt)