# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [2]:
import pandas as pd
import numpy as np

In [3]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [4]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [5]:
black_friday.shape

(537577, 12)

In [6]:
def q1():
    return black_friday.shape

In [7]:
q1()

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [8]:
black_friday['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [9]:
black_friday[(black_friday['Gender']=='F') & (black_friday['Age'] == '26-35')].shape[0]

49348

In [10]:
def q2():
    return black_friday[(black_friday['Gender']=='F') & (black_friday['Age'] == '26-35')].shape[0]

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [11]:
black_friday['User_ID'].nunique()

5891

In [12]:
def q3():
    return black_friday['User_ID'].nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [33]:
black_friday.dtypes.nunique()

3

In [34]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [35]:
def q4():
    return int(black_friday.dtypes.nunique())

In [36]:
q4()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [15]:
max(black_friday.isna().mean().values)

0.6944102891306734

In [16]:
1- black_friday.count()/black_friday.shape[0]

User_ID                       0.000000
Product_ID                    0.000000
Gender                        0.000000
Age                           0.000000
Occupation                    0.000000
City_Category                 0.000000
Stay_In_Current_City_Years    0.000000
Marital_Status                0.000000
Product_Category_1            0.000000
Product_Category_2            0.310627
Product_Category_3            0.694410
Purchase                      0.000000
dtype: float64

In [17]:
def q5():
    return float(max(black_friday.isna().mean().values))

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [18]:
#max(black_friday.isnull().sum())
black_friday.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [19]:
def q6():
    return int(max(black_friday.isnull().sum()))

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [20]:
black_friday['Product_Category_3'].value_counts()

16.0    32148
15.0    27611
14.0    18121
17.0    16449
5.0     16380
8.0     12384
9.0     11414
12.0     9094
13.0     5385
6.0      4818
18.0     4563
4.0      1840
11.0     1773
10.0     1698
3.0       600
Name: Product_Category_3, dtype: int64

In [21]:
def q7():
    return black_friday['Product_Category_3'].value_counts().keys()[0]

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [22]:
maxx = max(black_friday['Purchase'])
minn = min(black_friday['Purchase'])
normalizedPurchase = black_friday['Purchase']
normalizedPurchase = (normalizedPurchase- minn)/(maxx-minn)
print (maxx,minn,normalizedPurchase)

23961 185 0         0.344255
1         0.631519
2         0.052027
3         0.036676
4         0.327389
5         0.632655
6         0.800387
7         0.659026
8         0.651960
9         0.323267
10        0.213198
11        0.158647
12        0.247645
13        0.651077
14        0.218414
15        0.079660
16        0.541302
17        0.364485
18        0.488013
19        0.817169
20        0.353255
21        0.407428
22        0.402002
23        0.243817
24        0.493859
25        0.693010
26        0.239822
27        0.285498
28        0.218960
29        0.679971
            ...
537547    0.477709
537548    0.872266
537549    0.542438
537550    0.482545
537551    0.280871
537552    0.682621
537553    0.771408
537554    0.290797
537555    0.016529
537556    0.084034
537557    0.527381
537558    0.320113
537559    0.319019
537560    0.242051
537561    0.321711
537562    0.476237
537563    0.247687
537564    0.290167
537565    0.325917
537566    0.217236
537567    0.076085
537568    0.241630
537569    0.288400
537570    0.643758
537571    0.490705
537572    0.482798
537573    0.799588
537574    0.330501
537575    0.293868
537576    0.281376
Name: Purchase, Length: 537577, dtype: float64

In [23]:
def q8():
    ma = max(black_friday['Purchase'])
    mi = min(black_friday['Purchase'])
    return float(((black_friday['Purchase']-mi)/ (ma - mi)).mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [24]:
def q9():
    media = black_friday['Purchase'].mean()
    desvio = black_friday['Purchase'].std()
    a =  ((black_friday['Purchase']-media)/ desvio)
    cont = sum([1 for i in a if i>=-1 and i<=1])
    return cont

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [46]:
def q10():
    a = len(black_friday[black_friday['Product_Category_2'].isnull()])
    b = len(black_friday[black_friday['Product_Category_2'].isnull() & black_friday['Product_Category_3'].isnull()])
    return True if a == b else False

True